.container{
    display:flex;
    position:relative;
    /* margin-bottom: 20px; */
    background-color: #f8f6f5;
    top:50px;
    overflow-y: hidden;
}
.leftcontainer{
    width: 20vw;
}
.midcontainer{
    width: 60vw;
}
.rightcontainer{
        width:"20vw";
        height: 92vh;
}
@media only screen and (max-width: 720px ) {
    .container{
        flex-direction: column;
        gap:"50px";
    }
    .leftcontainer{
        width: 100%;
        margin-bottom: 100px;
    }
    .midcontainer{
        width: 100%;
        flex-direction: column;
    }
  }
